<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Motivater</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/login_custom.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div id="login">
          <div id="login-panel">
          <div id="login-topic">
          Motivator
          </div>
          <form method="post" action="{{ url_for('sign_in') }}">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="username" class="form-control" id="username" name="username" >
            </div>
              
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
          <div id="login-btn"><input class="btn btn-info" type = "submit" value = "Log In"/>
          </div>
          </form>
          <div id="login-create"><a href="#">Need an account? Register here!</a></div>
        </div>
      </div>
  </body>
</html>
