<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
   <link rel="stylesheet" type="text/css" href="/css/login_custom.css">
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
  <!-- Authentication -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="24548565731-p6cjt18tdd5s6rnoalo3u4k332g8a11e.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">

</head>
<body>
