<% include header %>

  <div id="login-topic">
          Motivator
  </div>
  <div id="firebaseui-auth-container">
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div></div>
<% include footer %>