#custom-bootstrap-menu.navbar-default .navbar-brand{
    color: white;
    font-size: 35px;
    font-family: "Brush Script MT", cursive;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: white;
    margin-bottom: 0;
    background-color:#093d5a;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: slategrey;
    
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: white;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}
#custom-bootstrap-menu.jumbotron {
    background-color: azure;
    height: 1%;
    margin-bottom: 0px;
}
#current-reward{
    padding-left: 13%;
    margin-top: 4.5%;
    width: 30%;
    display:inline-block;
}
#custom-bootstrap-menu.jumbotron h1{
    font-size: 80px;
}
#movitation{
    float: right;
    width: 40%;
    margin-right: 5%;
    font-size: 20px;
    margin-top: 4.5%;
}
#content-area{
    width: 100%;
    height: 600px;
    background-color:azure;
    padding-top:0 auto;
}
#todo-panel{
    font-size: 15px;
    margin-left: 1%;
    max-width: 32%;
    min-width: 300px;
    height: auto;
    margin-top: 20px;
}
#todo-panel img{
    float: right;
}
#panel-heading{
    font-weight: bold;
    background-color:#093d5a;
    color:white;
}

#goal-panel{
    font-size: 15px;
    width: 33%;
    height: auto;
    margin-top: 20px;
    min-width: 300px;
}
#did-panel{
    font-size: 15px;
    width: 33%;
    height: auto;
    margin-top: 20px;
    min-width: 300px;
}
#panel-body-custom{
    height: 300px;
}
#panel-body-custom-finished{
    height: 300px;
    height: 300px;
}
#panel-body-custom ul{
    list-style: none;
    padding-left: 0;
}
#panel-body-custom li{
    background:#fff;
    margin-top: -10px;
}
#todo-box{
    padding-top: 5px;
    margin-bottom: 5px;
}
#panel-body-custom-finished ul{
    list-style: none;
    padding-left: 0;
}
#panel-body-custom-finished li{
    background:#fff;
    padding: 5px;
}
#not-finished{
    list-style: none;
    padding-left: 0;
}
#user-btn{
    float:right;
    display: block;
    margin: 4px 6px 6px 0;
}
#task-stat{
    float:left;
    width: 75px;    
    margin-right: 5px;
}
#task-content{
    display:inline;
}
#coin{
    
    float: left;
}
#coin-value{
    margin-right: 5px;
    width: 35px;
    float: left;
}