body{
    background-color: white;
}
#login{
    width: 360px;
    background-color: white;
    padding: 15px;
    margin: auto;
    padding: 10% 0 0;
}
#login-panel{
    background-color: white;
    margin: 0 auto;
    height: 330px;    
}
#login-topic{
    font-size: 70px;
    text-align: center;
    font-family: "Brush Script MT", cursive;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    padding-top: 20%;
    padding-bottom: 18%;
}
#login-btn{
    margin-top: 3%;
}
#login-create{
    margin-top: 5%;
}
#login-btn a{
    text-decoration: none;
    color: white;
}